@use "../../assets/sass/variables" as *;

.beerCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: solid 2px plum;
  border-radius: 15%;
  max-width: 450px;
  white-space: normal;
  margin: 3px;
  &__info {
    background-color: lavender;
  }
}

img {
  max-height: 150px;
  max-width: 100px;
}
