@use "../../assets/sass/variables" as *;

.beerCard {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: solid 2px red;
  max-width: 900px;
}

img {
  max-height: 150px;
  max-width: 100px;
}
