@use "../../assets/sass/variables" as *;

.alcohols {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media only screen and (max-width: 786px) {
  .alcohols {
    display: flex;
    flex-wrap: wrap;
  }
}
