@use "./assets/sass/variables" as *;

* {
  background-color: lavender;
}
.booze {
  display: flex;
  flex-wrap: wrap;
  padding-left: 175px;
  width: 75%;
  background: lavender;
  &__main {
    width: 60%;
    height: 150vh;
  }
}

.nav {
  background-color: re;
  width: 25%;
  height: 25vh;
  top: 0;
}
