@use "./assets/sass/variables" as *;

.booze {
  display: flex;
  justify-content: space-between;
  &__main {
    padding: 15px;
    width: 60%;
    height: 150vh;
  }
}

.nav {
  width: 25%;
  height: 25vh;
  top: 0;
}
